@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #0F3D2E;
  background-color: #F7F1ED;
}

/* Scroll margin pour compenser la navbar fixe */
section[id] {
  scroll-margin-top: 100px;
}
